.md-content h1 {
  font-size: 2em;
}
.md-content h2 {
  font-size: 1.5em;
}
.md-content h3 {
  font-size: 1.3em;
}
.md-content h4 {
  font-size: 1.1em;
}
.md-content li {
  font-size: 1.0em;
}

.md-typeset__table {
  min-width: 100%;
}
.md-typeset table:not([class]) {
  display: table;
}

/* 表全体のスタイル */
table {
  border-collapse: collapse;  /* 罫線を重ねる */
  width: 100%;  /* 表を親要素いっぱいにする */
  border: 1px solid #ccc;  /* 表の枠線 */
}

/* ヘッダーのデザイン */
th {
  background-color: #242424; /* 背景色（緑系） */
  color: white; /* 文字色（白） */
  border: 1px solid #ccc; /* セルの枠線 */
  padding: 1px; /* 余白 */
  font-size: 1.1em;
}

/* セルのデザイン */
td {
  border: 1px solid #ccc; /* セルの枠線 */
  padding: 1px; /* 余白 */
  font-size: 1.1em;
}
